@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
  padding: 20px;
  margin: 0;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* APP LAYOUT */
.app-container {
  padding: 20px;
  position: relative;
  background-color: #f3f3f3;
  /* background-color: #d6d7d9; */
  border-radius: 10px;
}

h1,
h2 {
  margin: 0;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.left-panel,
.right-panel {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  min-height: 500px; /* Ensure visual balance */
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 20px; */
  padding-bottom: 10px;
}

/* PROFILE PICKER STYLE */
.profile-container {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 250px;
  z-index: 10;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-display-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  font-size: 14px;
}

.profile-dropdown-panel {
  position: absolute;
  top: 100%; /* Position below the button */
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin-top: 5px;
}

/* Search Input */
.search-input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.search-input {
  border: none;
  outline: none;
  flex-grow: 1;
  border-radius: 4px;
  padding: 5px 8px;
}

/* Profile List */
.profile-list {
  max-height: 200px;
  overflow-y: auto;
  border-bottom: none;
}

.profile-item {
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  position: relative;
  padding-left: 30px;
}

.profile-item:hover {
  background-color: #6c63ff;
  color: #eee;
}

.profile-item.selected {
  background-color: #6c63ff; /* Purple background */
  color: white;
  font-weight: bold;
}

.check-icon {
  position: absolute;
  left: 10px;
  top: 10px;
}

.no-profile-found {
  padding: 10px;
  text-align: center;
  color: #999;
  font-size: 14px;
}

.add-profile-container {
  border-top: 1px solid #eee;
  padding: 10px;
}

.add-profile-button {
  width: 100%;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f8f8f8;
  border: 1px solid #eee;
  /* color: #6c63ff; */
  /* font-weight: bold; */
}

.add-profile-button:hover {
  /* background-color: #f0f0ff;  */
  color: #eee;
  background-color: #6c63ff; 
}

/* FORM Style */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-label {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.form-input,
.form-select-single {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box; /* Include padding in the element's total width */
}

.form-select-multi {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  height: 100px;
  resize: none;
  width: 100%;
  box-sizing: border-box;
}

.form-button {
  padding: 12px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.form-button:hover {
  opacity: 0.9;
}

.display-events {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 10px;
}

/* Profile Picker Style */
.profile-creation-row {
  display: flex;
  gap: 7px;
  align-items: center;
}

.profile-name-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #6c63ff;
  border-radius: 6px;
  outline: none;
}

.add-button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  background-color: #6c63ff;
}

.quick-add-section {
  padding: 10px;
}
